<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-6" *ngFor="let chart of charts">
              <div class="card card-chart">
                  <div class="card-header">
                        <google-chart
                          width="600"
                          [title]="chart.title"
                          [type]="chart.type"
                          [data]="chart.data"
                          [columnNames]="chart.columnNames"
                          [roles]="chart.roles"
                          [options]="chart.options"
                        >
                        </google-chart>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">{{chart.body.title}}</h4>
                      <p class="card-category">
                      <span [innerHTML]="chart.body.description"></span>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-danger">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <span class="nav-tabs-title">Tasks:</span>
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item" *ngFor="let item of objectKeys(tasks); let i = index;">
                                      <a mat-button class="nav-link active" [ngClass]="{active: i === 0}" [href]="'#'+ item" data-toggle="tab">
                                          <i class="material-icons">check_circle</i> {{item}}
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane" [ngClass]="{active: i === 0}" *ngFor="let item of objectKeys(tasks); let i = index;" [id]="item">
                              <table class="table" style="width: 70%;" *ngIf="isArray(tasks[item]); else other">
                                  <tbody>
                                      <tr *ngFor="let achievement of tasks[item]">
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                    <i class="material-icons">done</i>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>{{ achievement }}</td>
                                      </tr>
                                  </tbody>
                              </table>
                              <ng-template #other>
                                    <table class="table text-center">
                                            <thead class=" text-danger">
                                                <th>
                                                    Area
                                                </th>
                                                <th>
                                                    Risk Details
                                                </th>
                                                <th>
                                                    Impact(1-5)
                                                </th>
                                                <th>
                                                    Mitigation Plan
                                                </th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        Tools/Env/Process
                                                    </td>
                                                    <td>
                                                        Triage process specifics/documentation
                                                    </td>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>
                                                        Increase shadow support time
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Application KT
                                                    </td>
                                                    <td>
                                                        Coverage of critical applications/operations other than Dice
                                                    </td>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                        Schedule SME time for KT sessions and shadow opearions team
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                              </ng-template>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
