<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Calendar:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item" *ngFor="let key of objectKeys(calendar); let i = index;">
                                        <a mat-button class="nav-link" [ngClass]="{active: i === 0}" [href]="'#'+ key" data-toggle="tab">
                                            <i class="material-icons">view_week</i> {{ key }}
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane" [ngClass]="{active: i === 0}" *ngFor="let key of objectKeys(calendar); let i = index;" [id]="key">
                              <table class="table text-center">
                                <thead class=" text-danger">
                                  <th *ngFor="let heading of calendar[key].headers">
                                    {{ heading }}
                                  </th>
                              
                                </thead>
                                <tbody>
                                  <tr *ngFor="let day of calendar[key].data">
                                    <td>
                                      {{ day.topic }}
                                    </td>
                                    <td>
                                      {{ day.moday }}
                                    </td>
                                    <td>
                                      {{ day.tuesday }}
                                    </td>
                                    <td>
                                      {{ day.wednesday }}
                                    </td>
                                    <td>
                                      {{ day.thursday }}
                                    </td>
                                    <td>
                                      {{ day.friday }}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
      </div>
  </div>
</div>
