<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-danger">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Calendar:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#thisWeek" data-toggle="tab">
                                            <i class="material-icons">view_week</i> This week
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#nextWeek" data-toggle="tab">
                                            <i class="material-icons">view_week</i> Next week
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                      <div class="tab-content">
                        <div class="tab-pane active text-center" id="thisWeek">
                          <table class="table table-hover">
                            <thead class=" text-danger">
                              <th>
                                Topic
                              </th>
                              <th>
                                Monday
                              </th>
                              <th>
                                Tuesday
                              </th>
                              <th>
                                Wednesday
                              </th>
                              <th>
                                Thursday
                              </th>
                              <th>
                                Friday
                              </th>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  Environment, Tools & Processes
                                </td>
                                <td>
                                  --
                                </td>
                                <td>
                                  --
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Application Transition
                                </td>
                                <td>
                                  --
                                </td>
                                <td>
                                  Apigee Session2
                                </td>
                                <td>
                                  Shadow Time
                                </td>
                                <td>
                                  Shadow Time
                                </td>
                                <td>
                                  Shadow Time
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Reverse KT
                                </td>
                                <td>
                                  Document Preparation
                                </td>
                                <td>
                                  --
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Shadow Support
                                </td>
                                <td>
                                  Shadow Dice, Order Management
                                </td>
                                <td>
                                  --
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="tab-pane" id="nextWeek">
                          <table class="table table-hover text-center">
                            <thead class="text-danger">
                              <th>
                                Topic
                              </th>
                              <th>
                                Monday
                              </th>
                              <th>
                                Tuesday
                              </th>
                              <th>
                                Wednesday
                              </th>
                              <th>
                                Thursday
                              </th>
                              <th>
                                Friday
                              </th>
                            </thead>
                            <tbody>
                              <tr>
                                <td>
                                  Environment, Tools & Processes1
                                </td>
                                <td>
                                  --
                                </td>
                                <td>
                                  --
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Application Transition
                                </td>
                                <td>
                                  --
                                </td>
                                <td>
                                  Apigee Session2
                                </td>
                                <td>
                                  Shadow Time
                                </td>
                                <td>
                                  Shadow Time
                                </td>
                                <td>
                                  Shadow Time
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Reverse KT
                                </td>
                                <td>
                                  Document Preparation
                                </td>
                                <td>
                                  --
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                              </tr>
                              <tr>
                                <td>
                                  Shadow Support
                                </td>
                                <td>
                                  Shadow Dice, Order Management
                                </td>
                                <td>
                                  --
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                                <td>
                                  TBD
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
      </div>
  </div>
</div>
