<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Applications</h4>
                        <!-- <p class="card-category"> Sub-title</p> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-danger text-center">
                                    <th>
                                        ID
                                    </th>
                                    <th *ngFor="let header of applications.headers">{{ header }}</th>
                                </thead>
                                <tbody class="text-center" *ngFor="let application of applications.data; let i = index;">
                                      <tr>
                                              <td>
                                                  {{ i + 1 }}
                                              </td>
                                              <td class="text-left">
                                                  {{ application.name }}
                                              </td>
                                              <td>
                                                  {{ application.session + '%' }}
                                              </td>
                                              <td>
                                                  {{ application.documentation + '%' }}
                                              </td>
                                              <td>
                                                  {{ application.support + '%' }}
                                              </td>
                                              <td>
                                                 {{ application.reverse_kt + '%' }}
                                              </td>
                                        </tr>
                                </tbody>
                                <!-- <tfoot class="text-center table-warning">
                                  <tr>
                                      <td></td>
                                      <td>{{ applications.weighted_avg.name }}</td>
                                      <td>{{ applications.weighted_avg.session + '%' }}</td>
                                      <td>{{ applications.weighted_avg.documentation + '%' }}</td>
                                      <td>{{ applications.weighted_avg.support + '%'}}</td>
                                      <td>{{ applications.weighted_avg.reverse_kt + '%' }}</td>
                                  </tr>
                                </tfoot> -->
                            </table><br>
                            <!-- <div class="row">
                                  <div class="col-md-12">
                                      <i class="fa fa-circle text-info"></i> Basic Session (25%) 
                                      <i class="fa fa-circle text-warning pl-3"></i> One Session (50%) 
                                      <i class="fa fa-circle text-danger pl-3"></i> No More Sessions (75%) 
                                      <i class="fa fa-circle text-success pl-3"></i> All Reviewed (100%) 
                                  </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  