<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Applications</h4>
                        <p class="card-category"> Sub-title</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class=" text-danger text-center">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Application Name
                                    </th>
                                    <th>
                                        TMO Session/Wiki
                                    </th>
                                    <th>
                                        PK Documentation
                                    </th>
                                    <th>
                                        HCL Shadow Support
                                    </th>
                                    <th>
                                        Reverse KT
                                    </th>
                                </thead>
                                <tbody class="text-center">
                                      <tr>
                                              <td>
                                                  1
                                              </td>
                                              <td>
                                                  DICE
                                              </td>
                                              <td>
                                                  75%
                                              </td>
                                              <td>
                                                  75%
                                              </td>
                                              <td>
                                                  0%
                                              </td>
                                              <td>
                                                  0%
                                              </td>
                                      </tr>
                                      <tr>
                                              <td>
                                                  2
                                              </td>
                                              <td>
                                                  DEEP.IO
                                              </td>
                                              <td>
                                                  75%
                                              </td>
                                              <td>
                                                  75%
                                              </td>
                                              <td>
                                                  0%
                                              </td>
                                              <td>
                                                  0%
                                              </td>
                                      </tr>
                                      <tr>
                                              <td>
                                                  3
                                              </td>
                                              <td>
                                                  Order Management
                                              </td>
                                              <td>
                                                  75%
                                              </td>
                                              <td>
                                                  75%
                                              </td>
                                              <td>
                                                  0%
                                              </td>
                                              <td>
                                                  0%
                                              </td>
                                      </tr>
                                      <tr>
                                              <td>
                                                  4
                                              </td>
                                              <td>
                                                  Notifications
                                              </td>
                                              <td>
                                                  75%
                                              </td>
                                              <td>
                                                  75%
                                              </td>
                                              <td>
                                                  0%
                                              </td>
                                              <td>
                                                  0%
                                              </td>
                                      </tr>
                                      <tr>
                                              <td>
                                                  5
                                              </td>
                                              <td>
                                                  Sterling Configurator
                                              </td>
                                              <td>
                                                  75%
                                              </td>
                                              <td>
                                                  75%
                                              </td>
                                              <td>
                                                  0%
                                              </td>
                                              <td>
                                                  0%
                                              </td>
                                      </tr>
                                </tbody>
                                <tfoot class="text-center">
                                  <tr>
                                      <td></td>
                                      <td>Weighted Avg</td>
                                      <td>100%</td>
                                      <td>100%</td>
                                      <td>100%</td>
                                      <td>100%</td>
                                  </tr>
                                </tfoot>
                            </table><br>
                            <div class="row">
                                  <div class="col-md-12">
                                      <i class="fa fa-circle text-info"></i> Basic Session (25%) 
                                      <i class="fa fa-circle text-warning pl-3"></i> One Session (50%) 
                                      <i class="fa fa-circle text-danger pl-3"></i> No More Sessions (75%) 
                                      <i class="fa fa-circle text-success pl-3"></i> All Reviewed (100%) 
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  